## Import data

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import pandas as pd
import numpy as np

# For cleaning the text
import spacy
import nltk
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
import regex as re
import string

import warnings
warnings.filterwarnings("ignore")

In [3]:
train = pd.read_csv("../input/explore_train.csv")
test = pd.read_csv("../input/explore_test.csv")
all_data = [train, test]

In [4]:
train.head()

      keyword                                               text  target
0  no_keyword  Our Deeds are the Reason of this #earthquake M...       1
1  no_keyword             Forest fire near La Ronge Sask. Canada       1
2  no_keyword  All residents asked to 'shelter in place' are ...       1
3  no_keyword  13,000 people receive #wildfires evacuation or...       1
4  no_keyword  Just got sent this photo from Ruby #Alaska as ...       1

## Clean the text

In [5]:
#nlp = spacy.load("en")
sp = spacy.load('en_core_web_sm')

nltk.download('stopwords')
nltk.download('punkt')

# spacy (362 words)
spacy_st = sp.Defaults.stop_words
# nltk(179 words)
nltk_st = stopwords.words('english')

def clean(tweet, http = True, punc = True, lem = True, stop_w = True):
    
    if http is True:
        tweet = re.sub("https?:\/\/t.co\/[A-Za-z0-9]*", '', tweet)

    # stop words
    # in here I changed the placement of lower for those of you who want to use
    # Cased BERT later on.
    if stop_w == 'nltk':
        tweet = [word for word in word_tokenize(tweet) if not word.lower() in nltk_st]
        tweet = ' '.join(tweet)

    elif stop_w == 'spacy':
        tweet = [word for word in word_tokenize(tweet) if not word.lower() in spacy_st]
        tweet = ' '.join(tweet)

    # lemmitizing
    if lem == True:
        lemmatized = [word.lemma_ for word in sp(tweet)]
        tweet = ' '.join(lemmatized)

    # punctuation removal
    if punc is True:
        tweet = tweet.translate(str.maketrans('', '', string.punctuation))
        
    # removing extra space
    tweet = re.sub("\s+", ' ', tweet)
    
    return tweet

[nltk_data] Downloading package stopwords to C:\Users\Mónica
[nltk_data]     Emmanuelle\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to C:\Users\Mónica
[nltk_data]     Emmanuelle\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [6]:
for dataframe in all_data:
    dataframe['cleaned_text'] = dataframe.text.apply(lambda x: clean(x, lem = False, stop_w = 'nltk', http = True, punc = True))

In [7]:
try:
    for dataframe in all_data:
        dataframe.drop("text", axis=1, inplace=True)
        dataframe.drop("keyword", axis=1, inplace=True)
except:
    print("Columns alredy removed")

In [8]:
for dataframe in all_data:
    dataframe["cleaned_text"] = dataframe["cleaned_text"].str.lower()

In [9]:
train.head()

   target                                       cleaned_text
0       1       deeds reason earthquake may allah forgive us
1       1              forest fire near la ronge sask canada
2       1  residents asked shelter place notified officer...
3       1  13000 people receive wildfires evacuation orde...
4       1  got sent photo ruby alaska smoke wildfires pou...

In [10]:
test.head()

                                        cleaned_text
0                        happened terrible car crash
1  heard earthquake different cities stay safe ev...
2  forest fire spot pond geese fleeing across str...
3              apocalypse lighting spokane wildfires
4             typhoon soudelor kills 28 china taiwan

## Export data

In [26]:
train.to_csv("../input/cleaned_train.csv", index=False)

In [25]:
test.to_csv("../input/cleaned_test.csv", index= False)